<!doctype html>
<html>
<head>
  <title>Project W</title>
  <meta charset="UTF-8">
  <meta name="description" content="Project W soon to be revealed">
  <meta name="keywords" content="Wedding,Love,Tasha,Rob">
  <meta name="author" content="Tasha Casagni, Rob Daly">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="dist/app.css" />
</head>
<body>
  <div class="container-fluid">
    <header>
      <nav>
        <!-- Nav tabs -->
        <a id="test_tag" href="photos.html">Nav Bar</a>
      </nav>
    </header>
    <section id="hero_img">
      <h2 id="hero_text">Rob &amp; Tasha</h2>
      <p id="hero_date">4/29/19</p>
    </section>
  </div>
  



  <script src="dist/app.js"></script>
</body>
</html>