<!doctype html>
<html>
<head>
  <title>Project W</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="dist/app.css" />
</head>
<body>
  <!-- NAV START -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="#">Home</a></li>
          <li><a href="story.html">Our Story</a></li>
          <li><a href="itinerary.html">Itinerary</a></li>
          <li class="active"><a href="photos.html">Photos</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- NAV END -->
  <div>

  <!-- Nav tabs -->
  <ul class="cols-xs-12 nav nav-tabs" role="tablist">
    <li role="presentation" class="cols-xs-3 active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
    <li role="presentation" class="cols-xs-3"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
        <ul class="gallery">
          <li draggable="true"><img src="http://placeimg.com/640/480/any/1"/><p>Tasha</p></li>
          <li draggable="true"><img src="http://placeimg.com/640/480/any/2"/><p>Bleh</p></li>
          <li draggable="true"><img src="http://placeimg.com/640/480/any/3"/><p>Testing</p></li>
          <li draggable="true"><img src="http://placeimg.com/640/480/any/4"/><p>Foo Bar</p></li>
          <li draggable="true"><img src="http://placeimg.com/640/480/any/5"/><p>Hello World</p></li>
        </ul>
    </div>
    <div role="tabpanel" class="tab-pane" id="profile">foo bar</div>
    <div role="tabpanel" class="tab-pane" id="messages">baz</div>
    <div role="tabpanel" class="tab-pane" id="settings">test</div>
  </div>

</div>
  <script src="dist/app.js"></script>
</body>
</html>